:root {
  --input-height: 80px;
  --input-mobile-height: 48px;
  --cor-texto-branco: #ffffff;
  --cor-preenchimento: #444444;
  --cor-bordas: #000000;
  --cor-primaria: #4b69fd;
  --cor-secundaria: #fe652b;
}
