@import url('../UI/variables/index.css');

.rodape-configuracoes {
  margin-top: 15px;
  align-items: center;
  display: flex;
  gap: 143px;
  justify-content: center;
}

.botao {
  background-color: var(--cor-secundaria);
  border-radius: 45px;
  border: 2px solid var(--cor-bordas);
  box-shadow: 4px 4px 0px var(--cor-bordas);
  color: var(--cor-texto-branco);
  cursor: pointer;
  max-width: 351px;
  gap: 26px;
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  height: var(--input-height);
  justify-content: center;
  place-items: center;
  width: 100%;
}

.botao::before {
  background-image: url('../../../public/img/play.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  height: 40px;
  width: 40px;
}

.botao:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.botao:hover {
  background-color: var(--cor-primaria);
}

@media screen and (max-width: 800px) {
  .rodape-configuracoes {
    flex-direction: column;
    gap: 24px;
    margin-top: 18px;
  }

  .botao {
    border: 1px solid var(--cor-bordas);
    box-shadow: 2px 2px 0px var(--cor-bordas);
    font-size: 1rem;
    font-weight: 600;
    height: 64px;
    text-align: center;
    width: 155px;
  }

  .botao::before {
    display: none;
  }

  .imagem-sacolas {
    height: 98px;
    width: 127px;
  }
}
