@import url('../UI/variables/index.css');

.grupo-input-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.grupo-input-btn input {
  border-bottom-left-radius: 45px;
  border-top-left-radius: 45px;
  border: 2px solid var(--cor-bordas);
  box-shadow: 4px 4px 0px var(--cor-bordas);
  box-sizing: border-box;
  font-size: 1rem;
  height: var(--input-height);
  max-width: 500px;
  padding-left: 52px;
  transition: ease-out 0.5s;
  width: 100%;
}

.grupo-input-btn input::placeholder {
  background-image: url('../../../public/img/addPerson.svg');
  background-position: 52px;
  background-repeat: no-repeat;
  background-size: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.grupo-input-btn input:placeholder-shown {
  padding-left: 107px;
}

.grupo-input-btn input:focus {
  outline: none;
}

.grupo-input-btn button {
  background-color: #c4c4c4;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
  border: 2px solid var(--cor-bordas);
  box-shadow: 4px 4px 0px var(--cor-bordas);
  box-sizing: border-box;
  color: var(--cor-preenchimento);
  cursor: pointer;
  font-size: 1rem;
  height: var(--input-height);
  max-width: 227px;
  width: 100%;
}

.grupo-input-btn button:hover {
  opacity: 0.8;
}

.grupo-input-btn button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.alerta.erro {
  background-color: #f8d7da;
  border-radius: 8px;
  border: 1px solid #f5c2c7;
  color: #842029;
  padding: 16px;
}

@media screen and (max-width: 800px) {
  .grupo-input-btn {
    align-items: center;
    flex-direction: column;
    margin-bottom: 17px;
  }

  .grupo-input-btn input {
    border-radius: 45px;
    border: 1px solid var(--cor-bordas);
    box-shadow: 2px 2px 0px var(--cor-bordas);
    font-size: 0.875rem;
    height: var(--input-mobile-height);
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
  }

  .grupo-input-btn input::placeholder {
    background-position: calc(50% - 127px);
    background-size: 22px;
  }

  .grupo-input-btn input:placeholder-shown {
    padding-left: 65px;
  }

  .grupo-input-btn button {
    border-radius: 45px;
    border: 1px solid var(--cor-bordas);
    box-shadow: 2px 2px 0px var(--cor-bordas);
    font-size: 1rem;
    height: var(--input-mobile-height);
    min-width: 155px;
  }

  .alerta {
    margin: 24px 0;
  }
}
