@import url('../components/UI/variables/index.css');

.sorteio {
  display: flex;
  flex-direction: column;
  place-items: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

select {
  appearance: none;
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  grid-area: customSelect;
  line-height: inherit;
  margin: 0;
  outline: none;
  width: 100%;
}

.customSelect {
  align-items: center;
  background-color: #ffffff;
  border-radius: 35px;
  border: 2px solid var(--cor-bordas);
  box-shadow: 2px 2px 1px 0px var(--cor-bordas);
  color: var(--cor-preenchimento);
  display: grid;
  font-size: 1rem;
  grid-template-areas: 'customSelect';
  height: 75px;
  max-width: 476px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.customSelect::after {
  background-color: var(--cor-preenchimento);
  clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
  content: '';
  grid-area: customSelect;
  height: 8px;
  justify-self: end;
  pointer-events: none;
  width: 16px;
}

select:focus {
  outline: none;
}

p.informativo {
  color: var(--cor-preenchimento);
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 21px;
  margin-top: 32px;
  max-height: 55px;
  max-width: 425px;
  text-align: center;
}

.botao-sortear {
  background-color: var(--cor-secundaria);
  border-radius: 45px;
  border: 2px solid var(--cor-bordas);
  box-shadow: 4px 4px 0px var(--cor-bordas);
  color: var(--cor-texto-branco);
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  gap: 17px;
  height: var(--input-height);
  justify-content: center;
  place-items: center;
  max-width: 227px;
  width: 100%;
}

.botao-sortear:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.botao-sortear:hover {
  background-color: var(--cor-primaria);
}

.botao-sortear::before {
  background-image: url('../../public/img/dice.svg');
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  height: 35px;
  width: 35px;
}

.resultado {
  color: var(--cor-secundaria);
  font-size: 1.55rem;
  margin-top: 19px;
}

footer.sorteio {
  margin-top: 32px;
}

.aviao {
  height: 136px;
  width: 150px;
}

@media screen and (max-width: 800px) {
  .customSelect {
    border: 1px solid var(--cor-bordas);
    box-shadow: 2px 2px 0px var(--cor-bordas);
    height: var(--input-mobile-height);
    padding-left: 28px;
    padding-right: 28px;
  }

  p.informativo {
    width: 328px;
    font-size: 18px;
    line-height: 27px;
  }

  .botao-sortear {
    gap: 13px;
    font-size: 1rem;
    box-shadow: 2px 2px 0px var(--cor-bordas);
    height: 60px;
    width: 155px;
  }

  .botao-sortear::before {
    height: 24px;
    width: 24px;
  }

  .resultado {
    font-size: 1.125rem;
    margin-top: 19px;
  }

  footer.sorteio {
    margin-top: 20px;
  }

  .aviao {
    height: 114px;
    width: 125px;
  }
}
